.App-page {
  display: flex;
  overflow-x: auto;
}

.App-list {
  width: 85%;
  white-space: nowrap;
  display: inline-block;
  overflow-x: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}

/* width */
.App-list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.App-list::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.App-list::-webkit-scrollbar-thumb:horizontal {
  background: #c0c0c0;
}
